#root {
  margin: 0;
  padding: 0;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  align-items: center;
  /* border: solid 10px; */
  /* border-color: green; */
}
.welcomeImg {
  width: 90%;
  /* border: solid red; */
  position: relative;
  top: 1rem;
  z-index: 1;
}

.welcomeMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  top: -3rem;
  width: 85%;
  padding: 0px 15px 0px 15px;
  height: 350px;
  border: solid 2px;
  border-color: #d6ad60;
  color: #737373;
}

.names {
  font-family: "Alex Brush", cursive;
  color: #565656;
  font-size: 3rem;
}
