.Footer-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 93%;

    background-color: rgb(255, 255, 255, 0.6);
    margin: 100px auto 40px;
  }
  .Footer-text{
    font-family: "Cormorant Garamond", serif;
    color: rgb(91, 91, 92);
    font-size: 12px;
    text-align: center;
  }
  .Footer-Container p{
    margin: 0;
    padding: 0;
  }
  .Footer-Container a{
    text-decoration: none;
  }