.Gifts-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 93%;
  border: solid 2px #d6ad60;
  background-color: rgb(255, 255, 255, 0.6);
  margin: 50px auto 40px;

  color: #3f3c3c;
}
.Flower-gifts {
  width: 100%;
}
.Gifts-Text-Container {
  text-align: center;
  padding: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4rem;
}
.sinpe-info p {
  margin: 0 0 15px 0;

}
.sinpe-info i {
  margin: 0 15px 0 0;
}
.sinpe-info {

  display: flex;
  flex-direction: column;
 
}
