body{
    margin: 0px;
    padding: 0;
    height: 1500px;
    background-image: url(src/assets/Wedding-Background.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}