body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-image: url(/assets/Wedding-Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html {
  scroll-behavior: smooth;
}
